@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.root{
    -fx-background-color: #383838;
    -fx-font-family: Roboto, sans-serif;
}

.label{
    -fx-text-fill: #E8E8E8;
}

#title{
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#text{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#text-no-bold{
    -fx-font-size: 15;
}

#table-text{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#game-box{
    -fx-font-size: 18;
    -fx-alignment: CENTER;
}

.check-box{
    -fx-text-fill: #E8E8E8;
}

.button{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#A4A29E, #CCCCCC);
    -fx-background-radius: 10;
}

#button-board{
    -fx-background-radius: 200;
    -fx-font-size: 25;
    -fx-max-width: 80;
    -fx-max-height: 80;
    -fx-min-width: 80;
    -fx-min-height: 80;
}

#error-label{
    -fx-text-fill: red;
    -fx-font-size: 15;
}

.button:hover{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: radial-gradient(radius 200%, #A1EAD8, #cccccc);
    -fx-background-radius: 10;
}